.table-container--mobile {
  width: 100%;
  height: 100%;
  background-color: #f8f5f2;
}

.table-container--desktop {
  width: 80%;
  height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  border-bottom: 1px solid rgba(192, 177, 162, 0.823);
}

tr:hover {
  background-color: #eae8e6;
  cursor: pointer;
}

th,
td {
  padding: 10px;
  text-align: right;
}

.expanded-row {
  cursor: default;
}

.expanded-row:hover {
  cursor: default;
  background-color: #f8f5f2;
}

.loss {
  color: rgb(225, 84, 84);
}

.gain {
  color: rgb(8, 161, 8);
}

.name-card {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.name-card h3,
.name-card p {
  margin: 0;
}

.visible {
}

.hidden {
  display: none;
}

.crypto-card--expanded {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: default;
  border-radius: 8px;
  border: 1px solid gray;
}

.crypto-card__title {
  text-align: left;
  padding: 10px;
}

.crypto-card__title h2 {
  margin: 0;
}

.crypto-card__info {
  display: flex;
  flex-direction: row;
}

.crypto-card__stats {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 10px;
}

.crypto-card-size {
  height: 300px;
}

.column {
  flex-direction: column;
  flex: 1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.info-title {
  text-align: left;
  font-weight: 700;
  color: gray;
}

.left-align {
  text-align: left;
}

.mobile {
  flex-direction: column;
}

.desktop {
  flex-direction: row;
}

span {
  width: 6em;
  display: inline-block;
}

.span-date {
  width: 7em;
}

h5 {
  margin: 0;
}

h5:last-child {
  margin-top: 1em;
}
