.background--light-mode {
  background-color: #f8f5f2;
}

.button--light-mode {
  background-color: #078080;
  color: #232323;
}

.headline--light-mode {
  color: #232323;
}

.paragraph--light-mode {
  color: #222525;
}

.table-header--light-mode {
  background-color: #eae3da;
}
